
#bunner
  .bunner_content
    %h1 ManageFile
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Enamel pin flannel kitsch selfies tbh tote bag. Ethical yr vexillologist, fanny pack gastropub tote bag VHS. Vegan letterpress lyft paleo, shabby chic fixie drinking vinegar echo park chartreuse kickstarter photo booth vape pok pok offal. Next level kickstarter ugh mixtape, celiac paleo small batch fixie PBR&B tilde blue bottle edison bulb tousled poutine.
#bottom_cta
  .wrapper
    %h3 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
